<% provide(:title, 'Contact')%>

<h1>Contact Us</h1>
<p>
  To contact us you can visit the <a href="http://www.google.com">Google website</a>
  and search for us.
</p>
<p>
  Alternatively, you could just call us on 0800 123456
</p>